h1 {
    background-color: darkmagenta;
    color: white;
    font-family: "Homer Simpson UI";
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

h3 {
    font-family: "Homer Simpson UI";
    text-align: center;
    color: white;
}

.cabecera{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cuadrado {
    width: 5px;
    height: 5px;
    background: white;
    margin-left: 1vw;
    margin-right: 1vw;
}

header {
    font-family: "Homer Simpson UI";
    width: 480px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

#menu li>a {
    background-color: darkmagenta;
    color: white;
    text-decoration: none;
}

#menu>li {
    float: left;
    text-align: center;
}